<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      >
    <head th:fragment="head">
        <title>ECOTIENDA</title>
        <meta charset="UTF-8"/>
        <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
            <link rel="icon" type="image/png" sizes="16x16" href="/fav/energia-ecologica.png"/>
            <link rel="icon" type="image/png" sizes="32x32" href="/fav/energia-ecologica.png"/>
            <link rel="icon" type="image/png" sizes="68x68" href="/fav/energia-ecologica.png"/>
            <script th:src="@{/js/rutinas.js}"></script>
            <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
            <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

                <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

                </head>
                <body>
                    <section th:fragment="body-listado">
                        <div class="container" style="padding-top: 20px">
                            <div class="row">
                                <div class="col-md-1" style="border:1.5px solid #ccdeb5; height: 200px; width: 250px; padding-top: 15px; border-radius: 5px">
                                    <div >
                                        <div style="color: #8c9c76; font-family: 'SulphurPoint', sans-serif" >
                                            <h3>CATEGORIAS</h3>
                                            <a th:href="@{/categorias/categoria}" >
                                            <div class="form-check"  >
                                                
                                                
                                                    <a th:href="@{/categorias/categoria}" style="text-decoration: none; color: #8c9c76; font-family: 'SulphurPoint', sans-serif;">
                                                        Todos los productos
                                                    </a>
                                            </div>
                                            </a>
                                            <div th:each="C : ${categorias}">
                                                
                                            <div class="form-check"  >
                                                
                                                <a th:href="@{/categorias/categoria/}+${C.id_Categoria}" style="text-decoration: none; color: #8c9c76; font-family: 'SulphurPoint', sans-serif;">
                                                        [[${C.descripcion}]]
                                                </a>
                                            </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-5" style="display: flex; flex-wrap: wrap; gap: 10px; align-items: center; width: 880px; padding-left: 30px">

                                    <div th:if="${productos != null and !productos.empty}" 
                                         style="border-left: 2px solid #c9cfae; padding-left: 10px; width: 100%;">

                                        <ul class="nav" style="display: flex; flex-wrap: wrap; gap: 100px; margin: 10px; ">
                                            <li th:each="p : ${productos}" 
                                                style="border: 1px solid #c4c0c0; padding: 5px; display: flex; align-items: center; justify-content: center; height: 200px; border-radius: 5px; width: 200px; flex-direction: column
                                                ; color: #8c9c76; font-family: 'SulphurPoint', sans-serif">

                                                <img th:src="@{${p.ruta_imagen}}" alt="no data" height="75px"/>
                                                <a>[[${p.nombre}]]</a>
                                                
                                                <a th:href="@{/verProducto/producto/}+${p.id_producto}"
                                                   class="btn btn-success">Agregar</a>
                                            </li>
                                        </ul>

                                    </div>

                                </div>

                                </section>


                                </body>
                                </html>
